.main-div {
  height: 100vh;
  width: 100vw;
  top: 0px;
  bottom: 0;
  position: absolute;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
  z-index: 1;
  background-color: rgb(50, 50, 76);
}
.details {
  flex-direction: column;
  color: white;
  height: 26%;
  margin-top: -3.2%;
  display: flex;
  background-color: black;
}
.details h4 {
  margin-top: -2%;
  margin-left: 4%;
}
.left-side {
    height: 100%;
    margin-top: 10vh;
    margin-left: 10vw;
    flex: 3.1;
  }
.right-side {
  flex: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 5%;
  justify-content: space-around;
}
.releted-content {
  margin-top: 22px;
  margin-bottom: 22px;
  height: 28%;
  border-radius: 11%;
  z-index: 2;
}
.releted-content img {
  border-radius: 6%;
}
.releted-content h3 {
    margin-top: -6vh;
    margin-left: 4%;
  }
.close-icon {
  height: 42px;
  width: 42px;
  position: absolute;
  top: 12px;
  margin-left: 98%;
}
.close-icon img {
  height: 100%;
  width: 100%;
  border-radius: 48%;
}

